
*{
    margin: 0
}

.nav-bar{
    display: flex;
}

li {
    margin: 20px;
    list-style-type: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.nav-colored{
    background-color: #E0AA98;

}
